<%= simple_form_for @form, url: admin_appearance_path do |f| %>
  <div class="panel-body">
    <%= f.input :favicon, as: :file, wrapper: :vertical_file_input, hint: t('.forms.favicon.hint') %>
    <%= image_tag @form.favicon.url, class: "img-responsive" if @form.favicon? %>
  </div>
  <div class="panel-footer">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
<% if @form.favicon? %>
  <div class="panel-footer">
    <%= simple_form_for @form.site, url: main_app.site_path(@form.site) do |f| %>
      <%= f.submit 'Remove banner image', class: 'btn btn-danger', name: :remove_favicon %>
    <% end %>
  </div>
<% end %>
