<% # OVERRIDE Summer's note: overriding Hyrax 2.9.1 for client theming %>

<div class="featured-item-title">
  <div class="sr-only">
  <%= t('hyrax.homepage.featured_works.document.title_label') %>
  </div>
  <div class="flex">
    <div class= 'homepage-work-thumbnail'>
      <%= link_to [main_app, featured] do %>
          <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) %>
        <% end %>
    </div>
    <div>
      <h6><%= featured.resource_type_label&.first %></h6>
      <h5>
        <%= link_to [main_app, featured] do %>
          <%= featured.title.first %>
        <% end %>
      </h5>
        <% featured_creator = ActiveSupport::JSON.decode(featured.creator_hash[0])[0]
          if featured_creator["creator_family_name"] && featured_creator["creator_given_name"] %>
            <p class="creator-label">
              <%= featured_creator["creator_family_name"] %>, <%= featured_creator["creator_given_name"] %>
            </p>
        <% elsif featured_creator["creator_family_name"]%>
          <p class="creator-label">
              <%= featured_creator["creator_family_name"] %>
          </p>
        <% elsif featured_creator["creator_organization_name"]%>
          <p class="creator-label">
              <%= featured_creator["creator_organization_name"] %>
          </p>
        <% end %>
      <% if featured.keyword.present? %>
        <p class="featured-field featured-item-keywords">
          <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.keyword_label') %>:</span> <%= link_to_facet_list(featured.keyword, 'keyword') %>
        </p>
      <% end %>
    </div>
  </div>
</div>
