<% # OVERRIDE Summer's note: overriding Hyrax 2.9.1 for client theming %>

<div class="featured-item-title">
  <div class="sr-only">
  <%= t('hyrax.homepage.featured_works.document.title_label') %>
  </div>
  <div class="flex">
    <div>
      <%= link_to [main_app, featured] do %>
          <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) %>
        <% end %>
    </div>
    <div>
    <h6><%= featured.human_readable_type %></h6>
      <h5>
        <%= link_to [main_app, featured] do %>
          <%= featured.title.first %>
        <% end %>
      </h5>
        <% if ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_family_name"] && ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_given_name"] %>
            <p class="creator-label">
              <%= ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_family_name"] %>, <%= ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_given_name"] %>
            </p>
        <% elsif ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_family_name"]%>
          <p class="creator-label">
              <%= ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_family_name"] %>
          </p>
        <% elsif ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_organization_name"]%>
          <p class="creator-label">
              <%= ActiveSupport::JSON.decode(featured.creator[0])[0]["creator_organization_name"] %>
          </p>
        <% end %>
      <% if featured.keyword != [] %>
        <p class="featured-field featured-item-keywords">
          <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.keyword_label') %>:</span> <%= link_to_facet_list(featured.keyword, 'keyword') %>
        </p>
      <% end %>
    </div>
  </div>
</div>