<% # OVERRIDE Summer's note: overriding Hyrax 2.9.1 for client theming %>

<div class="featured-item-title">
    <div class="sr-only">
    <%= t('hyrax.homepage.featured_works.document.title_label') %>
    </div>
    <div class="flex">
      <div>
        <%= link_to [main_app, featured] do %>
            <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) %>
          <% end %>
      </div>
      <div>
        <h5>
          <%= link_to [main_app, featured] do %>
            <%= featured.title.first %>
          <% end %>
        </h5>
        <p class="featured-field featured-item-depositor">
          <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.depositor_label') %>:</span> <%= link_to_profile featured.depositor(t('hyrax.homepage.featured_works.document.depositor_missing')) %>
        </p>
        <p class="featured-field featured-item-keywords">
          <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.keyword_label') %>:</span> <%= link_to_facet_list(featured.keyword, 'keyword', t('hyrax.homepage.featured_works.document.keyword_missing')) %>
        </p>
      </div>
    </div>
  </div>