<%# OVERRIDE from hyrax 2.9.1 - change li to div, refactor to make 2 rows with columns of 3%>
  <div class="col-xs-12 col-sm-6 col-md-4 pb-40">
    <div class="sr-only">
    <%= t('hyrax.homepage.recently_uploaded.document.title_label') %>
    </div>
    <div class="flex">
      <div>
        <%= link_to [main_app, recent_document] do %>
          <%= render_thumbnail_tag(recent_document, {width: 90}, {suppress_link: true})%>
        <% end %>
      </div>
      <div>
        <h6><%= recent_document.human_readable_type %></h6>
        <h5>
          <%= link_to [main_app, recent_document] do %>
            <%= recent_document.to_s %>
          <% end %>
        </h5>
        <% recent_work_creator = ActiveSupport::JSON.decode(recent_document.creator[0])[0]
          if recent_work_creator["creator_family_name"] && recent_work_creator["creator_given_name"] %>
            <p class="creator-label">
              <%= recent_work_creator["creator_family_name"] %>, <%= recent_work_creator["creator_given_name"] %>
            </p>
        <% elsif recent_work_creator["creator_family_name"]%>
          <p class="creator-label">
              <%= recent_work_creator["creator_family_name"] %>
          </p>
        <% elsif recent_work_creator["creator_organization_name"]%>
          <p class="creator-label">
              <%= recent_work_creator["creator_organization_name"] %>
          </p>
        <% end %>
        <% if recent_document.keyword.present? %>
          <p class="recent-field">
            <span class="recent-label"><%= t('hyrax.homepage.recently_uploaded.document.keyword_label') %>:</span> <%= link_to_facet_list(recent_document.keyword, 'keyword').html_safe %>
          </p>
        <% end %>
      </div>
    </div>
  </div>