<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text">
      <!-- /begin nav links: OVERRIDE here to include nav links on bottom bar -->
      <div class="row">
        <% if current_page?('/')%>
          <div class = 'col-xs-4 col-md-2 footer-link'>
            <%= link_to t('hyku.footer.admin_login'), "//#{Account.admin_host}/users/sign_in?locale=en", aria: current_page?(hyrax.root_path) ? {current: 'page'} : nil %>
          </div>
        <% else %>
          <div class = 'col-xs-4 col-md-2 footer-link' <%= 'class=active' if current_page?("//#{Account.admin_host}") %>>
            <%= link_to t(:'hyrax.controls.home'), "//#{Account.admin_host}", aria: current_page?(hyrax.root_path) ? {current: 'page'} : nil %>
          </div>
        <% end %>
        <div class = 'col-xs-4 col-md-2 footer-link' <%= 'class=active' if current_page?(hyrax.about_path) %>>
          <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %>
        </div>
        <div class = 'col-xs-4 col-md-2 footer-link' <%= 'class=active' if current_page?(hyrax.contact_path) %>>
          <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path, aria: current_page?(hyrax.contact_path) ? {current: 'page'} : nil %>
        </div>
      </div><!-- /.nav -->
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right footer-link">
        Managed by the <a href="https://www.bl.uk/">British Library</a> and supported by the <a href="https://www.ukri.org/councils/ahrc/">AHRC</a>
        <br/>Provided by <a href="https://softserv.scientist.com/">Software Services by Scientist.com</a> &amp; <a href="https://cosector.com/">CoSector</a>
      </div>
    </div>
  </div>
</footer>
