<!-- copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_member.html.erb -->
<!--instance of Hyku::FileSetPresenter -->

<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <!--see app/helpers/ubiquity/file_display_helpers.rb -->
    <%= render_file_or_icon(member).html_safe %>
 </td>
  <td class="attribute filename"><%= link_to(member.title.first, contextual_path(member, @presenter)) %></td>
  <% if parent_presenter.file_licenses? %>
    <td class="attribute file_licence">
      <% member.try(:license).each do |license_links| %>
        <%= link_to master_license_hash[license_links], license_links, target: :_blank %><br>
      <% end %>
    </td>
  <% end %>

  <td class="attribute date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute permission">
    <%= member.permission_badge %>
    <% if member.embargo_release_date.present? %>
      <dd> Until <%= member.try(:embargo_release_date) %></dd>
    <% end %>
    <% if member.lease_expiration_date.present? %>
      <dd> Until <%= member.try(:lease_expiration_date) %></dd>
    <% end %>
  </td>

  <td><%= display_file_size(member.id) %> </td>

  <td>
    <!-- Copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_actions.html.erb -->
    <!-- Moved to shared/ubiquity/works/actions -->
    <%= render 'shared/ubiquity/works/actions', member: member %>
  </td>
</tr>
