<% array_size = (array_of_hash.size - 1) %>
<span>
  <% array_of_hash.each_with_index do |hash, index| %>
    <span itemprop='<%= "#{attr_name}" %>'>
      <% if hash["#{attr_name}_organization_name"] %>
        <%= hash["#{attr_name}_organization_name"] %><span><%= remove_last_semicolon(array_size, index) %>&nbsp;</span>
      <% end %>
      <% last_name = hash["#{attr_name}_family_name"] %>
      <% first_name =  hash["#{attr_name}_given_name"] %>
      <% if last_name  %>
        <% last_name << ',' if display_comma?(hash.keys, ["#{attr_name}_family_name", "#{attr_name}_given_name"]) %>
        <% document.creator_search.each do |creator| %>
          <% if creator == "#{last_name} " + first_name ||
                creator + first_name == "#{last_name} " + first_name %>
            <%= link_to main_app.search_catalog_path(f: { creator_search_sim: Array(last_name + (" #{first_name}" if first_name)) }), class: 'creator-search-results' do %>
              <span>
                <%= last_name %>
                <%= first_name if first_name %>
                <%= remove_last_semicolon(array_size, index) %>&nbsp;
              </span>
            <% end %>
          <% end %>
        <% end %> 
      <% end %>
    </span>
  <% end %>
</span>
