<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default account-form">
      <%= simple_form_for @account, url: [:proprietor, @account], html: { class: 'form' } do |f| %>
        <div class="panel-body">
            <% if @account.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <%= pluralize(@account.errors.count, "error") %> prohibited this repository from being saved:
                <ul>
                  <% @account.errors.messages.each do |key, messages| %>
                    <li><%= key %> &quot;<%= @account.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.input :name %>

            <p>
              <%# check_box_tag "account[settings][shared_search]", @account.settings["shared_search"], @account.is_shared_search_enabled? %>
              <%= f.check_box :shared_search, {checked: @account.is_shared_search_enabled?, name: "account[settings][shared_search]", id: "account_settings_shared_search"}, 'true' , 'false' %>
              <%= f.label "Search Only(select tenant on next page)" %>
            </p>
            <br />

            <%= f.label :tenant_list %>

            <p>
              <% for tenant in Account.not_cross_search_tenants %>
                <%= check_box_tag "account[settings][tenant_list][]", tenant.tenant, @account.children.include?(tenant) %>
                <%= f.label tenant.name %>
                <br />
              <% end %>
            </p>

            <br />

            <%= f.submit class: 'btn btn-primary' %>
            <%= link_to t('simple_form.cancel'), proprietor_accounts_path, class: 'btn btn-link action-cancel' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
