<% template = f.object.model.class.to_s.underscore %>


<% array_of_hash.each_with_index do |hash, index| %>
  <div class="ubiquity-meta-funder" >

    <label class="control-label multi_value optional" for="#{template}_funder_name">
      Funder Name</label>

    <%= text_field_tag "#{template}[funder_group][][funder_name]", hash.dig("funder_name"),
                        class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_name",
                        placeholder: "Please start typing the funder's name, then select from the dropdown list ",
                        name: "#{template}[funder_group][][funder_name]",
                        data: { field_name:'ubiquity_funder_name',
                          'autocomplete-url' => '/authorities/search/crossref/funders',
                          'autocomplete' => "funder",
                        }
    %>
    <br/>
    <label class="control-label multi_value optional" for="#{template}funder_doi">
      Funder DOI</label>

    <%= text_field_tag "#{template}[funder_group][][funder_doi]",  hash.dig("funder_doi"),
                       class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_doi",
                       placeholder: "Please enter the DOI",
                       name: "#{template}[funder_group][][funder_doi]",
                       data: {field_name:'ubiquity_funder_doi'}
    %>
    <br/>
    <label class="control-label multi_value optional" for="#{template}funder_isni">
      Funder ISNI</label>

    <%= text_field_tag "#{template}[funder_group][][funder_isni]",  hash.dig("funder_isni"),
                       class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_isni",
                       placeholder: "Please enter the ISNI",
                       name: "#{template}[funder_group][][funder_isni]",
                       data: {field_name:'ubiquity_funder_isni'}
    %>
    <br/>
    <label class="control-label multi_value optional" for="#{template}funder_ror">
      Funder ROR</label>

    <%= text_field_tag "#{template}[funder_group][][funder_ror]",  hash.dig("funder_ror"),
                       class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_ror",
                       placeholder: "Please enter the ROR",
                       name: "#{template}[funder_group][][funder_ror]",
                       data: {field_name:'ubiquity_funder_ror'}
    %>
    <br/>
    <div class='form-group'>
      <label class="control-label multi_value optional" for="#{template}_funder_award">
        Funder Awards </label>
      <ul class="listing funder_awards_input_fields_wrap" style='padding-left: 0px;'>
        <% funder_award_list = hash.dig("funder_award").presence || [] %>
        <% if funder_award_list.present? %>
          <% funder_award_list.each do |funder_award| %>
            <li class="field-wrapper input-group input-append">
              <%= text_field_tag "#{template}[funder_group][][funder_award][]", funder_award,
                                  class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_awards",
                                  placeholder: "Please enter the award number",
                                  name: "#{template}[funder_group][][funder_award][]",
                                  data: {field_name:'ubiquity_funder_awards'} %>
            </li>
          <%end%>
        <%else%>
          <li class="field-wrapper input-group input-append">
            <%= text_field_tag "#{template}[funder_group][][funder_award][]", nil,
                                class: "#{template}_funder_group form-control multi-text-field multi_value ubiquity_funder_awards",
                                placeholder: "Please enter the award number",
                                name: "#{template}[funder_group][][funder_award][]",
                                data: {field_name:'ubiquity_funder_awards'} %>
        <%end%>
      </ul>
      <a href='#' class="add_another_funder_awards_button form-group">
        <span class="glyphicon glyphicon-plus"></span>
        Add another Award number
      </a>
    </div>

  <%= hidden_field_tag "#{template}[funder_group][][funder_position]", index, class: 'ubiquity_funder_position'  %>

  <a href="#" style="color:red;"  class="remove_funder form-group" data-removeUbiquityfunder=".ubiquity-meta-funder">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="controls-remove-text">Remove</span>
  </a>
  <a href="#" class="add_funder" data-addUbiquityfunder=".ubiquity-meta-funder">Add another </a>
  </div>
<% end %>
