<% content_for :page_title, "Shared Research Repository" %>

<div class="container homepage-container">
  <div class= "row">
    <div class="col-sm-6 col-xs-12 pt-40 homepage-left">
      <h1>Shared Research Repository</h1>
      <h3 class="splash-page">for cultural and heritage organisations</h3>
      <h4 class="pt-40 splash-page">
        The Shared Research Repository makes available research produced by staff of the British Library and our current partner organisations.<br/><br/>

        We are currently refreshing our repositories so you may find some features unavailable, including the option to search across our combined content from this page. Please use the buttons on the right to visit our separate repositories now. </h4>
    </div>
    <div class="col-sm-6 col-xs-12 pt-20 homepage-right">
      <%# SEARCH BAR FOR HOME PAGE %>
      <%# <div class="bl-searchbar-wrapper">
        <button class="bl-searchbar"><span class="fa fa-search"></span></button>
        <input class="bl-searchbar" type="text" id="search_all_hyku" placeholder="Begin Your Search">
         <label class="sr-only" aria-label="search_all_hyku" for="search_all_hyku"></label>
      </div> %>
      <h2 class="pt-40">Browse our partner repositories:</h2>
      <div class="row logo-grid">
        <div class="col-xs-6 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'mola')}" do %>
            <img class="tenant-logo" alt="MOLA" src="/system/logo_images/1/original/220px-MOLA__Museum_of_London_Archaeology__Logo.jpeg">
          <% end %>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'nms')}" do %>
            <img class="tenant-logo" alt="National Museum of Scotland" src="/system/logo_images/1/original/NMSlogo1.png">
          <% end %>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'bl')}" do %>
            <img class="tenant-logo" alt="British Library" src="/system/logo_images/1/original/BL_Logo_jpg.jpg">
          <% end %>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'kew')}" do %>
            <img class="tenant-logo" alt="Kew Royal Botanic Gardens" src="/system/logo_images/1/original/Kew_Logo.png">
          <% end %>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'tate')}" do %>
            <img class="tenant-logo" alt="Tate Modern" src="/system/logo_images/1/original/Tate_Logo.png">
          <% end %>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <%= link_to "//#{Settings.multitenancy.default_host.gsub('%{tenant}', 'britishmuseum')}" do %>
            <img class="tenant-logo" alt="The British Museum" src="/system/logo_images/1/original/BMlogo4.png">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
