<%# This is a Blacklight file copied to Hyrax by Hyrax maintainers and then copied here from Hyrax
    hyrax/app/views/catalog/_index_list_default.html.erb to add ability to display json metadata fields  %>
<div class="metadata">
  <table class="table">
    <% doc_presenter = index_presenter(document) %>

    <% index_fields(document).each_with_index do |(field_name, field), index| %>

      <% if should_render_index_field? document, field %>
        <tr>
        <% if ["creator_tesim", "contributor_tesim" , "editor_tesim"].include? field_name %>
          <th class="search-meta-label"><span class="attribute-label h4"><%= render_index_field_label document, field: field_name %></span></th>
          <td><%= display_json_fields(document, field_name) %></td>
        <% end %>

        <%# NOTE ~alignment: comment out due to being related to cross-tenant search %>
        <%# if check_is_parent_shared_search_page.present? && field_name == 'institution_tesim'  %>
          <%# <th class="search-meta-label"><span class="attribute-label h4"><%= render_index_field_label document, field: field_name </span></th> %>
          <%# <td><%= link_to_facet_list(document.institution.sort, 'institution', '', '; ').html_safe</td> %>
        <%# end %>

        <% if ['resource_type_tesim', 'institution_tesim', "creator_tesim", "contributor_tesim" , "editor_tesim"].exclude? field_name %>
          <th class="search-meta-label"><span class="attribute-label h4"><%= render_index_field_label document, field: field_name %></span></th>
          <td><%= doc_presenter.field_value field %></td>
        <% end %>

        </tr>
      <% end %>

      <% if field_name == 'resource_type_tesim'  %>
        <tr>
         <th class="search-meta-label"><span class="attribute-label h4"> <%= render_index_field_label document, field: field_name %> </span></th>
         <% if document.to_h["has_model_ssim"].first == 'Collection' %>
         <td><%= document.to_h["has_model_ssim"].first %></td>
         <% else %>
         <td><%= doc_presenter.field_value field %></td>
        <% end %>
         </tr>
       <% end %>

    <% end %>

  </table>
</div>

<div class="clearfix"></div>
