<% template = @curation_concern.class.to_s.underscore %>

<% array_of_hash.each_with_index do |hash, index| %>
  <div class="ubiquity-meta-related-identifier" >
    <div class="<%= "#{template}_related_identifier" %> form-group">
      <label class="control-label multi_value optional" for="<% template %>_related_identifier">
        Related identifier
      </label>
      <p class="form-group">
        Globally unique identifiers, such as ISNI, ARK etc. For ISBN, ISSN and EISSN, use the separate fields.
      </p>
      <%= text_field_tag  "#{template}[related_identifier_group][][related_identifier]",                  hash.dig("related_identifier"),
                          class: "#{template}_related_identifier_group form-control multi-text-field multi_value related_identifier",
                          name: "#{template}[related_identifier_group][][related_identifier]"
      %>
    </div>

    <div class="<%= "#{template}_related_identifier_type" %> form-group">
      <label class="control-label multi_value optional" for="<% template %>_related_identifier_type">
        Type of related identifier
      </label>
      <p class="form-group">
        If you have listed a related identifier, then please select what type.
      </p>
      <%= select_tag  "#{template}[related_identifier_group][][related_identifier_type]",
                      content_tag(:option, 'select one...', :value => "") + options_from_collection_for_select(RelatedIdentifierTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash.dig("related_identifier_type")),
                      { :class => 'form-control multi-text-field multi_value related_identifier_type' }
      %>
    </div>

    <div class="<%= "#{template}_relation_type" %> form-group">
      <label class="control-label multi_value optional" for="<% template %>_relation_type">
        Relationship of related identifier
      </label>
      <p class="form-group">
        If you have listed a related identifier, then state its relationship to the work, e.g. cites or continues the work.
      </p>
      <%= select_tag  "#{template}[related_identifier_group][][relation_type]",
                      options_for_select(RelationTypeService.new.select_active_options.uniq, hash.dig("relation_type")),
                      {
                        :class => 'form-control multi-text-field multi_value related_identifier_relation',
                        prompt: 'select one...'
                      }
      %>
    </div>

    <div class="<%= "#{template}_related_identifier" %> form-group">
      <a href="#" style="color:red;" class="remove_related_identifier form-group" data-removeUbiquityRelatedIdentifier=".ubiquity-meta-related-identifier">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="controls-remove-text">
          Remove
        </span>
      </a>
      |
      <button type="button" class="add_related_identifier btn-link add-another-button" data-addUbiquityrelatedIdentifier=".ubiquity-meta-related-identifier">
        <span class="glyphicon glyphicon-plus"></span>
        Add another
      </button>
    </div>
  </div>
<% end %>