<% template = f.object.model.class.to_s.underscore %>

<div class="ubiquity-meta-editor" >
  <label class="control-label multi_value optional" for="#{template}_editor_name_type">
    Editor name type
  </label>

  <%= select_tag  "#{template}[editor_group][][editor_name_type]",
                  content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s, "Personal"),
                  class:  'ubiquity_editor_name_type',
                  data: { field_name:'ubiquity_editor_name_type' }
  %>

  <p class="form-group">
    The editors that produced this item, in priority order. To add multiple editors, repeat this property.
  </p>

  <span class="ubiquity_organization_fields">
    <div class="form-group">
      <label class="ubiquity_editor_organization_name_label control-label multi_value optional" for="#{template}_editor_organization_name">
        Editor organisation name
      </label>

      <%= text_field_tag  "#{template}[editor_group][][editor_organization_name]", nil,
                          class: "#{template}_editor_organization_name form-control multi-text-field multi_value ubiquity_editor_organization_name",
                          placeholder: 'Please enter the organisation\'s name.',
                          name: "#{template}[editor_group][][editor_organization_name]",
                          data: { field_name:'ubiquity_editor_organization_name' }
      %>
    </div>
  </span> <!-- closes ubiquity_organization_fields -->
  <span class="ubiquity_personal_fields">
    <div class="form-group">
      <label class="control-label multi_value optional" for="#{template}_editor_family_name">
        Editor family name
      </label>
      <%= text_field_tag  "#{template}[editor_group][][editor_family_name]",                  nil,
                          class: "#{template}_editor_family_name form-control multi-text-field multi_value ubiquity_editor_family_name",
                          placeholder: 'Please enter the editor\'s last name/family name.',
                          name: "#{template}[editor_group][][editor_family_name]",
                          data: { field_name:'ubiquity_editor_family_name' }
      %>
    </div>

    <div class="form-group">
      <label class="control-label multi_value optional" for="#{template}_editor_given_name">
        Editor given name
      </label>
      <%= text_field_tag  "#{template}[editor_group][][editor_given_name]",
                          nil,
                          class: "#{template}_editor_given_name form-control multi-text-field multi_value ubiquity_editor_given_name",
                          placeholder: 'Please enter the editor\'s first name/given name.',
                          name: "#{template}[editor_group][][editor_given_name]",
                          data: { field_name:'ubiquity_editor_given_name' }
      %>
    </div>

    <div class="form-group">
      <label class="control-label multi_value optional" for="#{template}_editor_orcid">
        Editor ORCID
      </label>
      <%= text_field_tag  "#{template}[editor_group][][editor_orcid]",
                          nil,
                          class: "#{template}_editor_group form-control multi-text-field multi_value ubiquity_editor_orcid",
                          placeholder: 'Please enter the editor\'s ORCID, e.g. 0000-1234-5678-9101.',
                          name: "#{template}[editor_group][][editor_orcid]",
                          data: { field_name:'ubiquity_editor_orcid' }
      %>
    </div>

    <div class="form-group">
      <label class="control-label multi_value optional" for="#{template}_editor_institutional_relationship">
        Editor institutional relationship
      </label>
      <%= select_tag  "#{template}[editor_group][][editor_institutional_relationship][]",
                      content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( ['Staff member', 'Research associate'], :to_s, :to_s),
                      multiple: true,
                      class: "form-control"
      %>
    </div>
  </span> <!-- closes ubiquity_personal_fields -->

  <div class="form-group">
    <label class="control-label multi_value optional" for="#{template}_editor_isni">
      Editor ISNI
    </label>
    <%= text_field_tag  "#{template}[editor_group][][editor_isni]", nil,
                        class: "#{template}_editor_group form-control multi-text-field multi_value ubiquity_editor_isni",
                        placeholder: 'Please enter the editor\'s ISNI, e.g. 0000 1234 5678 9101.',
                        name: "#{template}[editor_group][][editor_isni]",
                        data: { field_name:'ubiquity_editor_isni' }
    %>
  </div>

  <div class="form-group">
    <%= hidden_field_tag  "#{template}[editor_group][][editor_position]",
                          1,
                          class: 'ubiquity-editor-score'
    %>
  </div>

  <div class="form-group">
    <a href="#" style="color:red;" class="remove_editor form-group" data-removeUbiquityEditor=".ubiquity-meta-editor">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">
        Remove
      </span>
    </a>
    |
    <a href="#" class="add_editor" data-addUbiquityEditor=".ubiquity-meta-editor">
      Add another
    </a>
  </div>
</div>
