<!-- Copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/file_sets/_actions.html.erb -->
<!-- rendered in https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_actions.html.erb-->
<% if current_user %>

  <div class="btn-group">

    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= file_set.id %>" aria-haspopup="true">
      <span class="sr-only">Press to </span>
      Select an action
      <span class="caret" aria-hidden="true"></span>
    </button>

    <ul role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= file_set.id %>">
    <% if can?(:edit, file_set.id) %>
      <li role="menuitem" tabindex="-1">
        <%= link_to 'Edit', edit_polymorphic_path([main_app, file_set]),
          { title: "Edit #{file_set}" } %>
      </li>

      <li role="menuitem" tabindex="-1">
        <%= link_to 'Versions',  edit_polymorphic_path([main_app, file_set], anchor: 'versioning_display'),
          { title: "Display previous versions" } %>
      </li>
    <% end %>

    <% if can?(:destroy, file_set.id) %>
      <li role="menuitem" tabindex="-1">
        <%= link_to 'Delete', polymorphic_path([main_app, file_set]),
          method: :delete, title: "Delete #{file_set}",
          data: {confirm: "Deleting #{file_set} from #{application_name} is permanent. Click OK to delete this from #{application_name}, or Cancel to cancel this operation"} %>
      </li>
    <% end %>

    <% if can?(:download, file_set.id) %>
      <li role="menuitem" tabindex="-1">
        <%= display_file_download_link_or_contact_form(file_set) %>
      </li>
    <% end %>

    </ul>
  </div>
<% elsif can?(:download, file_set.id) && ((not file_set.lease_expiration_date.present?) && (not file_set.embargo_release_date.present?)) %>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= file_set.id %>" aria-haspopup="true">
      <span class="sr-only">Press to </span>
      Select an action
      <span class="caret" aria-hidden="true"></span>
    </button>
    <ul role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= file_set.id %>">
      <li role="menuitem" tabindex="-1">
        <%= display_file_download_link_or_contact_form(file_set) %>
      </li>
    </ul>
  </div>
<% else %>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" disabled>
      Select an action <span class="caret" aria-hidden="true"></span>
    </button>
  </div>
<% end %>
