<nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid top-nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if controller_name !="splash" && body_class.match(/public-facing/) %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div>
          <%= link_to "//#{Account.admin_host}", class: "shared-research-repo-button" do %>
            <span class="fa fa-caret-left"></span> <%= t("hyrax.home_button") %>
          <% end %>
        </div>
      <% end %>
      <!-- OVERRIDE to remove the logo in the top header bar -->
    </div>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <div class= "hidden-md hidden-lg">
        <%= render '/controls'%>
      </div>
      <% if admin_host? %>
        <%= render '/admin_util_links' %>
      <% else %>
        <%= render '/user_util_links' %>
      <% end %>
    </div>
  </div>
</nav>
