<% template = f.object.model.class.to_s.underscore %>

<% array_of_hash.each_with_index do |hash, index| %>

  <div class="ubiquity-meta-contributor">

    <div class="<%= "#{template}_contributor_name_type" %>">
      <label class="control-label multi_value optional" for="#{template}_contributor_name_type">
        Contributor name type</label>
      <%= select_tag "#{template}[contributor_group][][contributor_name_type]",
                     content_tag(:option, 'select one...', :value => "") + options_from_collection_for_select(NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash.dig("contributor_name_type")),
                     class: "ubiquity_contributor_name_type form-control", data: {field_name: 'ubiquity_contributor_name_type'} %>

      <p class="help-block">A person or group you want to recognise for playing a role in the creation of the work, but
        not the primary role.</p>

    </div>
    <br/>
    <span class="ubiquity_organization_fields">
      <div class="<%= "#{template}_contributor_organization_name" %>">
        <label class="ubiquity_contributor_organization_name_label control-label multi_value optional" for="#{template}_contributor_organization_name">
          Contributor organisation name</label>
        <%= text_field_tag "#{template}[contributor_group][][contributor_organization_name]", hash.dig("contributor_organization_name"),
                           class: "#{template}_contributor_organization_name form-control multi-text-field multi_value ubiquity_contributor_organization_name",
                           placeholder: 'Please enter the organisation\'s name.',
                           name: "#{template}[contributor_group][][contributor_organization_name]",
                           data: {field_name: 'ubiquity_contributor_organization_name'}
        %>

       </div>
<br/>
      <div class="<%= "#{template}_contributor_ror" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_ror">
          Contributor organisation ROR</label>

        <%= text_field_tag "#{template}[creator_group][][contributor_ror]", hash.dig("contributor_ror"),
                          class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_ror",
                          placeholder: "Please enter the ROR ID, e.g. 05gknh003",
                          name: "#{template}[contributor_group][][contributor_ror]",
                          data: {field_name: 'ubiquity_contributor_ror'}

        %>

       </div>
<br/>
        <div class="<%= "#{template}_contributor_grid" %>">
          <label class="control-label multi_value optional" for="#{template}_contributor_grid">
            Contributor organisation GRID </label>

          <%= text_field_tag "#{template}[contributor_group][][contributor_grid]", hash.dig("contributor_grid"),
                             class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_grid",
                             placeholder: "Please enter the GRID ID, e.g. grid.280362.d",
                             name: "#{template}[contributor_group][][contributor_grid]",
                             data: {field_name: 'ubiquity_contributor_grid'}

          %>

      </div>
<br/>

      <div class="<%= "#{template}_contributor_wikidata" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_wikidata">
          Contributor organisation Wikidata </label>

        <%= text_field_tag "#{template}[contributor_group][][contributor_wikidata]", hash.dig("contributor_wikidata"),
                           class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_wikidata",
                           placeholder: "Please enter the Wikidata ID, e.g. Q23308",
                           name: "#{template}[contributor_group][][contributor_wikidata]",
                           data: {field_name: 'ubiquity_contributor_wikidata'}

        %>

   </div>
    </span>
    <br/>
    <span class="ubiquity_personal_fields">

      <div class="<%= "#{template}_contributor_family_name" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_family_name">
          Contributor family name</label>
        <%= text_field_tag "#{template}[contributor_group][][contributor_family_name]", hash.dig("contributor_family_name"),
                           class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_family_name",
                           placeholder: 'Please enter the contributor\'s last name/family name.',
                           name: "#{template}[contributor_group][][contributor_family_name]",
                           data: {field_name: 'ubiquity_contributor_family_name'}

        %>
      </div>
<br/>

      <div class="<%= "#{template}_contributor_given_name" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_given_name">
          Contributor given name</label>
        <%= text_field_tag "#{template}[contributor_group][][contributor_given_name]", hash.dig("contributor_given_name"),
                           class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_given_name",
                           placeholder: 'Please enter the contributor\'s first name/given name.',
                           name: "#{template}[contributor_group][][contributor_given_name]",
                           data: {field_name: 'ubiquity_contributor_given_name'}
        %>
      </div>
<br/>
      <div class="<%= "#{template}_contributor_orcid" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_orcid">
          Contributor ORCID</label>
        <%= text_field_tag "#{template}[contributor_group][][contributor_orcid]", hash.dig("contributor_orcid"),
                           class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_orcid",
                           placeholder: 'Please enter the contributor\'s ORCID, e.g. 0000-1234-5678-9101.',
                           name: "#{template}[contributor_group][][contributor_orcid]",
                           data: {field_name: 'ubiquity_contributor_orcid'}
        %>
      </div>
<br/>

      <div class="<%= "#{template}_contributor_institutional_relationship" %>">
        <label class="control-label multi_value optional" for="#{template}_contributor_institutional_relationship">
          Contributor institutional relationship  </label>
        <%= select_tag "#{template}[contributor_group][][contributor_institutional_relationship]", content_tag(:option, 'select one...', :value => "") + options_from_collection_for_select(['Staff member', 'Research associate'], :to_s, :to_s, hash.dig("contributor_institutional_relationship")),
                       multiple: true, class: "form-control"
        %>

    </div>
    </span> <!-- closes ubiquity_personal_fields -->
    <br/>
    <div class="<%= "#{template}_contributor_isni" %>">
      <label class="control-label multi_value optional" for="#{template}_contributor_isni">
        Contributor ISNI</label>
      <%= text_field_tag "#{template}[contributor_group][][contributor_isni]", hash.dig("contributor_isni"),
                         class: "#{template}_contributor_group form-control multi-text-field multi_value ubiquity_contributor_isni",
                         placeholder: 'Please enter the contributor\'s ISNI, e.g. 0000 1234 5678 9101.',
                         name: "#{template}[contributor_group][][contributor_isni]",
                         data: {field_name: 'ubiquity_contributor_isni'}
      %>
    </div>
    <br/>
    <div class="<%= "#{template}_contributor_type" %>">
      <label class="control-label multi_value optional" for="#{template}_contributor_type">
        Contributor Role</label>
      <%= select_tag "#{template}[contributor_group][][contributor_type]",
                     content_tag(:option, 'select one...', :value => "") + options_from_collection_for_select(ContributorGroupService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash.dig("contributor_type")),
                     class: "form-control"
      %>

    </div>
    <br/>
    <div class="<%= "#{template}_contributor_position" %>">
      <%= hidden_field_tag "#{template}[contributor_group][][contributor_position]", index, class: 'ubiquity-contributor-score form-control' %>
    </div>
    <a href="#" style="color:red;" class=" remove_contributor form-group " data-removeUbiquitycontributor=".ubiquity-meta-contributor">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </a>
    |
    <a href="#" class=" add_contributor" data-addUbiquitycontributor=".ubiquity-meta-contributor">Add another </a>

    <br/><br/><br/>

  </div>

<% end %>
