<dt>Contributor</dt>
<dd>
  <ul class="tabular">
    <% array_of_hash.each do |hash| %>
      <li class="attribute contributor">
        <span itemprop="contributor" style="float:left">
          <% order_ary = ['contributor_family_name', 'contributor_given_name', 'contributor_organization_name']%>
          <%= display_data_with_comma_separated(hash, order_ary)%>
        </span>
        <span itemprop="contributor">
          <% if display_paren?(hash.keys, ["contributor_orcid", 'contributor_isni', 'contributor_type', "contributor_ror",  "contributor_grid", "contributor_wikidata"]) %>
            <span style="float:left" >&nbsp;(</span>
              <span style="float:left">
              <%# Added False inorder to hide the field based on new requirements %>
              <% if hash['contributor_type'].present? %>
                <%= hash['contributor_type'] %><% if display_comma?(hash.keys, ["contributor_type", "contributor_orcid", "contributor_isni", 'contributor_ror', 'contributor_grid', 'contributor_wikidata']) %>,&nbsp;<% end %>
              <% end %>
              </span>

              <% if hash['contributor_orcid'].present? %>
                <% orcid_id = hash['contributor_orcid'] %>
                <a href='<%= render_isni_or_orcid_url("#{orcid_id}", "orcid") %>'  target="_blank">
                  <img src="https://s3-eu-west-1.amazonaws.com/service-hyku-oar-importer/orcid_16x16.png" alt="ORCID"  height="16" width="16" class="img-responsive"  style="float:left"  >
                </a>
              <% end %>

              <% if add_image_space?(hash.keys) %>
                <span style="float:left" >&nbsp;</span>
              <% end %>

                <% if hash['contributor_isni'].present? %>
                  <% isni_id = hash['contributor_isni'] %>
                  <a href='<%= render_isni_or_orcid_url("#{isni_id}", "isni") %>'  target="_blank">
                  <img src="
                    https://s3-eu-west-1.amazonaws.com/service-hyku-oar-importer/logo_xml_isni-16.gif" alt="ISNI"  height="16" width="16" class="img-responsive" style="float:left"  >
                  </a>
                <% end %>

                <% hash.slice(*["contributor_ror",  "contributor_grid", "contributor_wikidata"]).each do |key, value| %>

                  <% if add_image_space?(hash.keys) %>
                    <span style="float:left" >&nbsp;</span>
                  <% end %>

                   <%  hash_key = key.dup %>
                   <% hash_key.slice!("contributor_") %>

                  <% if hash[key].present? && contains_full_url_path?(value) %>

                    <a href='<%= "#{value}" %>'  target="_blank">
                      <img src=" " alt=<%= "#{hash_key.upcase}" %>  class="img-responsive" style="float:left" >
                    </a>
                  <% elsif hash[key].present?  %>
                    <a href='<%= "#{match_key_to_url(hash_key)}" + "#{value}" %>'  target="_blank">
                      <img src=" " alt='<%= "#{hash_key.upcase}" %>'  class="img-responsive" style="float:left" >
                    </a>
                  <% end  %>
                <% end %>

             <span>)</span>
          <% end %>
        </span>
        <br/>
      </li>
    <% end %>
  </ul>
</dd>
