<dt>Contributor</dt>
<dd>
  <ul class="tabular">
    <% array_of_hash.each_with_index do |hash, index| %>
      <li class="attribute contributor <%= 'collapse' if index > 4 %>">
        <span itemprop="contributor" style="float:left">
          <% order_ary = ['contributor_family_name', 'contributor_given_name', 'contributor_organization_name']%>
          <%= display_data_with_comma_separated(hash, order_ary)%>
        </span>
        <span itemprop="contributor">
          <% if display_paren?(hash.keys, ["contributor_orcid", 'contributor_isni', 'contributor_type', "contributor_ror"]) %>
            <span style="float:left" >&nbsp;(</span>
              <span style="float:left">
              <%# Added False inorder to hide the field based on new requirements %>
              <% if hash['contributor_type'].present? %>
                <%= hash['contributor_type'] %><% if display_comma?(hash.keys, ["contributor_type", "contributor_orcid", "contributor_isni", 'contributor_ror']) %>,&nbsp;<% end %>
              <% end %>
              </span>

              <% if hash['contributor_orcid'].present? %>
                <% orcid_id = hash['contributor_orcid'] %>
                <a href='<%= render_isni_or_orcid_url("#{orcid_id}", "orcid") %>'  target="_blank">
                  <%= image_tag 'orcid.png', class: 'img-responsive', alt: 'ORCID', style: 'float:left', height: '16', width: '16' %>
                </a>
              <% end %>

              <% if add_image_space?(hash.keys) %>
                <span style="float:left" >&nbsp;</span>
              <% end %>

                <% if hash['contributor_isni'].present? %>
                  <% isni_id = hash['contributor_isni'] %>
                  <a href='<%= render_isni_or_orcid_url("#{isni_id}", "isni") %>'  target="_blank">
                  <%= image_tag 'isni.png', class: "img-responsive", alt: 'ISNI', style: 'float:left', height: '16', width: '26' %>
                  </a>
                <% end %>

                <% hash.slice(*["contributor_ror"]).each do |key, value| %>

                  <% if add_image_space?(hash.keys) %>
                    <span style="float:left" >&nbsp;</span>
                  <% end %>

                    <%  hash_key = key.dup %>
                    <% hash_key.slice!("contributor_") %>

                  <% if hash[key].present? && contains_full_url_path?(value) %>

                    <a href='<%= "#{value}" %>'  target="_blank">
                      <%= image_tag 'ror_identifier.png', class: "img-responsive", alt: "#{hash_key.upcase}", style: 'float:left; border-radius: 4px', height: '16', width: '36'  %>
                    </a>
                  <% elsif hash[key].present?  %>
                    <a href='<%= "#{match_key_to_url(hash_key)}" + "#{value}" %>'  target="_blank">
                      <%= image_tag 'ror_identifier.png', class: "img-responsive", alt: "#{hash_key.upcase}", style: 'float:left; border-radius: 4px', height: '16', width: '36'  %>

                    </a>
                  <% end  %>
                <% end %>

            <span>)</span>
          <% end %>
        </span>
        <br/>
      </li>
    <% end %>
    <% if array_of_hash.length > 5 %>
      <li>
        <a class="collapse-fields" data-toggle="collapse" href=".contributor.collapse" aria-expanded="false" aria-controls="collapse">
          <span>Show More</span>
          <span style='display:none'>Show Less</span>
        </a>
      </li>
    <% end %>
  </ul>
</dd>
