<!-- add body classes to make styling easier -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>
  <% content_for(:extra_body_classes, 'public-facing') unless params[:controller].match(/^proprietor/) %>

  <body class="<%= body_class %> <%= home_page_theme %> <%= search_results_theme %> <%= show_page_theme %>">
    <%= render_gtm_body(request.original_url) %>
    <div class="skip-to-content">
      <%= link_to "Skip to Content", "#skip-to-content" %>
    </div>
    <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
    <%= render '/masthead' %>

    <%# OVERRIDE Here to create a custom banner section for the catalog pages vs the homepage controller & to render the homepage content sections %>
    <% if controller_name == 'homepage' || controller_name == 'pages' || controller_name == 'contact_form' || controller_name == 'terms'%>
      <%= content_for(:navbar) %>
    <% end %>

    <% if controller_name == 'catalog' || controller_name == 'articles' || controller_name == 'book_contributions' || controller_name == 'books' || controller_name == 'conference_items' || controller_name == 'datasets' || controller_name == 'exhibition_items' || controller_name == 'generic_works' || controller_name == 'images' || controller_name == 'reports' || controller_name == 'thesis_or_dissertations' || controller_name == 'time_based_medias' || controller_name == 'collections'%>
      <%= render "hyrax/homepage/banner_section"%>
    <% end %>

    <%# end OVERRIDE  %>

    <%= content_for(:precontainer_content) %>
    <div id="content-wrapper" class="container" role="main">
      <% if controller_name != 'splash'%>
        <%= render '/flash_msg' %>
      <% end %>
      <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>

        <a name="skip-to-content" id="skip-to-content">
        </a>
        <%= content_for?(:content) ? yield(:content) : yield %>

    </div>
    <!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>
