
<%# NOTE from Summer: if you add a piece of metadata here from a partial in the shared/ubiquity folder, it needs to be wrapped in a <div class="metadata-group"> in order to match the styles of all the other metadata that is being rendered from hyrax's default renderer. %>

<%# display contributor using the show partial  -->
<%# presenter.attribute_to_html(:contributor, render_as: :faceted) %>

<%= presenter.attribute_to_html(:alt_title, label: "Alternative Title",  render_as: :string) %>

<%= presenter.attribute_to_html(:resource_type_label, label: "Resource Type") %>

<%# NOTE ~alignment: comment out due to being related to cross-tenant search %>
<%# TODO ~alignment: make sure collections still show %>
<%# if presenter.collection_names_presenters.present?   %>
<%# render 'shared/ubiquity/collections/show_collection_list', presenter: presenter %>
<%# elsif check_should_not_use_fedora_association(request.original_url) != "true" && presenter.member_of_collection_presenters.present?  %>
<%# render 'shared/ubiquity/collections/show_collection_list', presenter: presenter %>
<%# end %>
<% if presenter.creator_hash.present?%>
  <div class="metadata-group">
    <%= render "shared/ubiquity/creator/show", presenter: presenter, section: "metadata" %>
  </div>
<%end%>

<% if presenter.contributor.present?%>
  <div class="metadata-group">
  <%= render "shared/ubiquity/contributor/show", presenter: presenter %>
  </div>
<%end%>
<%# NOTE from Summer - delete line here to render abstract since it is separately rendered in base/show.html.erb %>

<%= presenter.attribute_to_html(:date_published) %>

<%= presenter.attribute_to_html(:media, render_as: :alphabetical_sort, label: "Material/media") %>

<%= presenter.attribute_to_html(:duration, render_as: :string) %>

<%= presenter.attribute_to_html(:institution, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:org_unit, render_as: :alphabetical_sort, label: "Organisational unit") %>

<%= presenter.attribute_to_html(:project_name) %>
<%#= presenter.attribute_to_html(:funder, render_as: :alphabetical_sort) %>

<% if presenter.funder.present?%>
  <div class="metadata-group">
    <%= render "shared/ubiquity/funder/show", presenter: presenter %>
  </div>
<%end%>

<%= presenter.attribute_to_html(:fndr_project_ref, render_as: :alphabetical_sort, label: "Funder project reference") %>

<%= presenter.attribute_to_html(:event_title, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:event_location, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:event_date, render_as: :multiple_dates) %>

<%= presenter.attribute_to_html(:series_name, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:book_title, render_as: :string) %>

<% if presenter.editor.present?%>
  <div class="metadata-group">
    <% if check_has_editor_fields?(presenter.model_name.to_s) %>
      <%= render "shared/ubiquity/editor/show", presenter: presenter %>
    <% end %>
  </div>
<% end %>

<%= presenter.attribute_to_html(:journal_title, render_as: :string) %>

<%= presenter.attribute_to_html(:alternative_journal_title, render_as: :string) %>

<%= presenter.attribute_to_html(:volume, render_as: :string) %>

<%= presenter.attribute_to_html(:edition, render_as: :string) %>

<%= presenter.attribute_to_html(:version, render_as: :string) %>

<%= presenter.attribute_to_html(:issue, render_as: :string) %>

<%= presenter.attribute_to_html(:pagination, render_as: :page) %>

<%= presenter.attribute_to_html(:article_num, label: "Article number", render_as: :string) %>

<%= presenter.attribute_to_html(:publisher, render_as: :string) %>

<%= presenter.attribute_to_html(:place_of_publication, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:isbn, label: "ISBN", render_as: :string) %>

<%= presenter.attribute_to_html(:issn, label: "ISSN", render_as: :string) %>

<%= presenter.attribute_to_html(:eissn, label: "eISSN", render_as: :string) %>

<% if presenter.current_he_institution.present?%>
  <div class="metadata-group">
  <%= render "shared/ubiquity/current_he_institution/show", presenter: presenter %>
  </div>
<%end%>

<%= presenter.attribute_to_html(:date_accepted, render_as: :string) %>

<%= presenter.attribute_to_html(:official_link, render_as: :external_url, label: "Official URL") %>

<%= presenter.attribute_to_html(:related_url, render_as: :external_url, label: "Related URL") %>

<%= presenter.attribute_to_html(:related_exhibition, render_as: :alphabetical_sort) %>

<%= presenter.attribute_to_html(:related_exhibition_venue, render_as: :string) %>

<%= presenter.attribute_to_html(:related_exhibition_date, render_as: :multiple_dates) %>

<%= presenter.attribute_to_html(:license, render_as: :alphabetical_sort_license, html_dl: true, label: "Licence") %>

<%= presenter.attribute_to_html(:rights_statement, render_as: :alphabetical_sort_rights_statement) %>

<%= presenter.attribute_to_html(:rights_holder, render_as: :alphabetical_sort) %>

<!-- if you change the label DOI below you must change the if condition in
app/renderers/ubiquity/external_url_attribute_renderer.rb to reflect the newly re-named label
-->
<% if presenter.doi.present? %>
  <%= presenter.attribute_to_html(:doi, label: "DOI", render_as: :external_url) %>
<% else %>
  <%= presenter.attribute_to_html(:original_doi, label: "DOI", render_as: :external_url) %>
<% end %>
<%= presenter.attribute_to_html(:qualification_name, render_as: :string) %>

<%= presenter.attribute_to_html(:qualification_level, render_as: :string) %>

<% if presenter.alternate_identifier.present?%>
  <div class="metadata-group">
    <%= render "shared/ubiquity/alternate_identifier/show", presenter: @presenter %>
  </div>
<%end%>

<% if presenter.related_identifier.present?%>
  <div class="metadata-group">
  <%= render "shared/ubiquity/related_identifier/show", presenter: @presenter %>
  </div>
<%end%>

<%= presenter.attribute_to_html(:keyword, render_as: :alphabetical_sort_facet) %>

<%= presenter.attribute_to_html(:dewey, render_as: :string) %>

<%= presenter.attribute_to_html(:library_of_congress_classification, render_as: :faceted, label: "Library of Congress Classification") %>

<%= presenter.attribute_to_html(:add_info, label: "Additional Information", render_as: :string) %>

<%#= presenter.attribute_to_html(:date_submitted) %>
<%#= presenter.attribute_to_html(:refereed) %>
<%#= presenter.attribute_to_html(:creator_search) %>
