<!--
 OVERRIDE 2.9.1 https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_items.html.erb
 add license feature
-->

<%  array_of_ids = presenter.list_of_item_ids_to_display %>
<%  members = presenter.member_presenters_for(array_of_ids) %>
<% if members.present? %>
  <div class="col-sm-12 work-show-items">
    <h2>Items:</h2>
    <table class="table table-striped related-files">
      <thead>
        <tr>
          <th><%= t('.thumbnail') %></th>
          <th><%= t('.title') %></th>
          <% if presenter.file_licenses? %>
            <th><%= t('.licence') %></th>
          <% end %>
          <th><%= t('.date_uploaded') %></th>
          <th><%= t('.visibility') %></th>
          <th><%= t('.file_size') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'member', collection: members, locals: { parent_presenter: presenter } %>
      </tbody>
    </table>
      <div class="row">
    <% if presenter.total_pages > 1 %>
        <div class="row record-padding col-md-9">
          <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page, route_set: main_app %>
        </div><!-- /pager -->
    <% end %>
  </div>
  </div>
<% elsif can? :edit, presenter.id %>
  <div class="alert alert-warning no-items-available" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% else %>
  <div class="alert alert-warning no-items-available" role="alert"><%= t('.unauthorized', type: presenter.human_readable_type) %></div>
<% end %>
