<%# OVERRIDE Hyrax 2.9 - add licence, file size and embargo dates %>

<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <%= render_thumbnail_tag member %>
  </td>
  <td class="attribute attribute-filename ensure-wrapped"><%= link_to(member.link_name, contextual_path(member, @presenter)) %></td>
  <% if parent_presenter.file_licenses? %>
    <td class="attribute file_licence">
      <%= link_to(master_license_hash[member.license], member.license, target: :_blank) if member.license %>
    </td>
  <% end %>
  <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute permission">
    <%= member.permission_badge %>
    <% if member.embargo_release_date.present? %>
      <dd> Until <%= member.try(:embargo_release_date) %></dd>
    <% end %>
    <% if member.lease_expiration_date.present? %>
      <dd> Until <%= member.try(:lease_expiration_date) %></dd>
    <% end %>
  </td>
  <td class="attribute attribute-file_size">
    <%= number_to_human_size(member.file_size, precision: 2) %>
  </td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>
