<%# OVERRIDE Hyrax 2.9.1 and 2 parts from the main branch as of 7/14/2021 . There was a bug for 2.9.1-2.9.5 that caused the feature/unfeature buttons to show up on the work-show page for editors when they should not. This has since been fixed but this override retroactively changes the issue. %>

<div class="show-actions">
  <% if Hyrax.config.analytics? %>
    <%= link_to "Analytics", presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if presenter.editor? %>
      <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
      <% if presenter.member_presenters.size > 1 %>
          <%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'btn btn-default' %>
      <% end %>
      <%# OVERRIDE lines 14-26 from hyrax main branch 7/14/2021 %>
      <% if presenter.valid_child_concerns.length > 0 %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('.attach_child') %> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% presenter.valid_child_concerns.each do |concern| %>
              <li>
                <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular.to_sym], parent_id: presenter.id) %>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
  <% end %>
  <% if presenter.show_deposit_for?(collections: @user_collections) %>
      <input type="checkbox"  style="display:none" name="batch_document_ids[]" id="batch_document_<%= presenter.id %>" value="<%= presenter.id %>" class="batch_document_selector" checked="checked" />
      <%= button_tag t('hyrax.dashboard.my.action.add_to_collection'),
                     class: 'btn btn-default submits-batches submits-batches-add',
                     data: { toggle: "modal", target: "#collection-list-container" } %>
  <% end %>
  <% if presenter.work_featurable? %>
  <%# OVERRIDE lines 38 & 41 from hyrax main branch 7/14/2021 %>
      <%= link_to "Feature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'feature' },
          class: presenter.display_feature_link? ? 'btn btn-default' : 'btn btn-default collapse' %>
      <%= link_to "Unfeature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'unfeature' },
          class: presenter.display_unfeature_link? ? 'btn btn-default' : 'btn btn-default collapse' %>
  <% end %>

  <% if presenter.universal_viewer? %>
    <%= link_to 'Universal Viewer',
                "#{universal_viewer_base_url}?manifestUri=#{main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil }}&config=#{universal_viewer_config_url}",
                class: 'btn btn-default',
                target: :_blank
    %>
  <% end %>
</div>

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
<!-- Render Modals -->
  <%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>